#search{
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 25%;
    margin-top: 1.5%;
}
#search_icon{
    width: 7%;
    display: inline-block;
    margin-left: 0.7em;
    cursor: pointer;
}
#search_bar{
    width: 93%;
    font-size: 18px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 8px;
}

#choices{
    float: left;
    min-width: 20%;
    box-sizing: border-box;
    margin: 10.5% 0% 0% 2.5%;

    background-color: antiquewhite;
    border-radius: 18px;
}

#notification{
    color: #404040;
    font-size: 22pt;
}

#products{
    float: right;
    width: 70%;
    box-sizing: border-box;
    margin-right: 3.5%;
    margin-top: 2.5%;
}

#ul_products{
    margin: 2%;
    padding: 1.5%;
}

#ul_products li a{
    color: black;
}

/* unvisited link */
#ul_products li a:link {
    color: black;
  }
  
  /* visited link */
#ul_products  li a:visited {
    color: black;
  }
  
  /* mouse over link */
#ul_products li a:hover {
    color: black;
  }
  
  /* selected link */
#ul_products  li a:active {
    color: black;
  }

#ul_products .li_product, #ul_products .li_product a{
    width: 90%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-flex;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16pt;
}
#ul_products .li_product a{
    text-decoration: none;
}
#ul_products .li_product:hover, #ul_products .li_product a:hover{
    height: 280px;
    font-size: 18pt;
}

.li_product a .span_product{
    width: 100%;
    display: inline-flex;
    cursor: pointer;
}
.span_product .div_img_product{
    width: 30%;
    box-sizing: border-box;
    margin: 12px;
}

.img_product{
    width: 100%;
    height: 100%;
}

.span_product  .div_Str_product{
    width: 70%;
    height: min-content;
    line-height: 2;
    box-sizing: border-box;
    margin: 25px;
}

#page_products{
    margin: 10px 160px;
    height: 45px;
    display: flex;
    align-items: center;
}

#page_products ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    margin: auto;
}

#page_products li{
    background-color: #61a13f;
    display: block;
    width: 60px;
    text-align: center;
    font-size: 26pt;
    margin-right: 6px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
}
#page_products li:hover{
    background-color:#4b7d31;
    width: 55px;
    height: 38px;
}

#categories{
    font-size: 16pt;
    line-height: 30px;
    list-style-type: none;
}

#categories li{
    cursor: pointer;
    width: max-content;
    max-width: 100%;
}

#nfp{
    margin-left: 10%;
    margin-right: 2%;
    font-size: 10pt;
    width: 70%;
}
#valRange{
    font-size: 18pt;
    vertical-align: middle;
}
